.filmsElement {
    width: 200px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
        position: relative;
        display: flex;

        width: 100%;
        height: 300px;

        overflow: hidden;
        border-radius: 20px;

        border: 2px solid rgb(239, 239, 239);

        &:hover img {
            transform: scale(1.2);
        }

        &:hover {
            border: 2px solid dodgerblue;
        }

        img {
            z-index: 1;
            position: absolute;
            height: 100%;
            transition: transform 0.25s;
        }

    }

    p {
        font-weight: 500;
    }

    p:last-of-type {
        font-size: 12px;
        font-weight: 300;
    }
}